* {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #212122;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  z-index: 10;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  margin: 1rem 1.5rem;
}

header nav ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

header nav ul li a:hover {
  border: 1px solid blue;
  border-radius: 21px;
}

header .fa-bars {
  font-size: 4rem;
  color: blue;
  cursor: pointer;
  margin: 0 2rem;
  z-index: 20;
  display: none;
}

header .logo {
  margin: 0 2.5rem;
}

header .logo a {
  text-decoration: none;
}

header .logo a h1 {
  font-size: 3rem;
  color: #fff;
}

header .logo a h1 span {
  color: blue;
}

#home {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url(./workoutpics1.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: url(./workoutpics1.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}

#home h1 {
  font-size: 9rem;
  margin: 0 .5rem;
  color: #fff;
}

#home h3 {
  font-size: 7rem;
  color: blue;
  margin: 1rem 0;
}

#home button {
  margin: 2rem 0;
  font-size: 2rem;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid lightblue;
  border-radius: 21px;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: blue;
  font-weight: bold;
}

#home button:hover {
  background: blue;
  color: #fff;
}

#home .icons {
  position: absolute;
  bottom: 3.5rem;
  left: 5rem;
  z-index: 1;
}

#home .icons a {
  text-decoration: none;
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}

#home .icons a:hover {
  color: #aaa;
}



@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .image img {
    width: 70vw;
  }
  #about .content {
    text-align: center;
  }
  #about .content p {
    padding: 2rem;
  }
  #about .content .buttons {
    padding: 0;
  }
  #contact .image {
    display: none;
  }
  #contact form input {
    width: 90vw;
  }
}

@media (max-width: 620px) {
  header .fa-bars {
    display: block;
  }
  header nav {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 80vw;
    background: #fff;
    -webkit-box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
  }
  header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul li {
    margin: 2rem 0;
  }
  header nav ul li a {
    margin: 0;
    font-size: 4rem;
    color: blue;
    font-weight: bold;
    border: 2px solid lightblue;
    border-radius: 21px;
  }
  header nav ul li a:hover {
    color: #fff;
  }
  .nav-toggle {
    left: 0;
  }
  #home h1 {
    font-size: 6.5rem;
  }
  #home h3 {
    font-size: 4rem;
  }
  #home .icons {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=style.css.map */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: transparent;
	border-radius: 5px;
  border: 2px solid lightblue;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: rgba(0, 0, 255, 0.575);
  color: white;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}









/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}

  .social-panel h4 {
    margin: 10px 0;
    color: #97A5CE;	
    font-family: 'Muli';	
    font-size: 11px;	
    /* line-height: 18px; */
    text-transform: uppercase;
  }
  
}

